@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "About";
}


<div>
    <div class="ui grid">
        <div class="nine wide column">
            <div class="ui raised segment">
            <a class="ui red ribbon label">About</a>
            <h2 class="ui header center">Who we are</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, arcu non venenatis volutpat, nisl sem consequat eros, vel molestie risus tortor eget sapien. Sed at pulvinar elit. Integer ut nunc nisl. Vivamus gravida aliquet hendrerit. 
                <br />Fusce commodo erat vitae rutrum fermentum. Vivamus augue sapien, tempor sit amet placerat vitae, ullamcorper vitae dui. Phasellus feugiat commodo nulla eleifend venenatis. Ut nisi nunc, sollicitudin nec vehicula quis, commodo ut tellus. 
                <br />Ut ut magna pretium, commodo dolor ut, tempor mauris.
                Pellentesque feugiat metus ligula, lacinia condimentum magna posuere ut.
            </p>
           <div class="ui three column grid">
                    
               <div class="column">
                   <div class="ui segment">
                     <a class="item" href="http://facebook.com/" target="_blank"><i class="circular facebook icon"></i>Facebook</a>
                   </div>
               </div>
                    
               <div class="column">
                   <div class="ui segment">
                    <a class="item" href="http://twitter.com/" target="_blank"><i class="circular twitter icon"></i>Twitter</a>
                   </div>
               </div>
                    
               <div class="column">
                   <div class="ui segment">
                     <a class="item" href="http://linkedin.com/" target="_blank"><i class="circular linkedin icon"></i>LinkedIn</a>
                   </div>
              </div>
           </div>
        </div>
    </div>
   
    <div class="seven wide column">
        <iframe width="600" height="390" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGyzvEklSUkYRgejBj0uE99w&key=AIzaSyDymDyimcZeA_H55QQPDxR2vKtiS05OBok"></iframe>
    </div> 
</div>