@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Contact";
}


<div class="Container">
    <h2>Customer Support</h2>
    <p>
        Thank you for using this amazing app! Please complete the form below, so we can provide quick and efficient service.
    </p>
    
</div> 

<form class="ui form">
  <h1 class="ui dividing header"></h1>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact info</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Email">
      </div>
      <div class="field">
        <input type="text" placeholder="Phone">
      </div>
    </div>
   </div>
   <div class="field">
    <label>Messege</label>
    <textarea></textarea>
  </div>
  <div class="ui button" tabindex="0">Submit</div>
</form>